<script type="text/javascript">
    $(function () {
        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val();//.replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

    });

    function FileUpload() {

    }
</script>

<form name="form1" method="post" enctype="multipart/form-data" action="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Photos"})">
    <div class="form-group">
        <label>Choose a photo to upload</label>
        <input type="text" id="name" class="form-control" placeholder="Photo Name" />
    </div>
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse&hellip; <input type="file" style="display: none" id="file-browser" accept=".jpg">
                </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary col-md-4 col-md-offset-4">Submit</button>
        <input type="button" onclick="alert($('#file-browser').get(0).files[0].name)" />
    </div>
</form>
